/* Xplorator styles */
/* Main secondary color (blue) */
/*.color-secondary-1-1 { color: #748BA7 }
  .color-secondary-1-2 { color: #4C678B }
  .color-secondary-1-0 { color: #2C4970 }
  .color-secondary-1-3 { color: #143054 }
  .color-secondary-1-4 { color: #051B38 }*/
/* Main secondary color (green) */
/*.color-secondary-2-1 { color: #A8DB92 }
  .color-secondary-2-2 { color: #77B65B }
  .color-secondary-2-0 { color: #4E9231 }
  .color-secondary-2-3 { color: #2E6E13 }
  .color-secondary-2-4 { color: #164900 }*/
.code {
  font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace;
  font-size: 1.15rem;
}
body {
  background-color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
ol {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
}
ol li {
  margin-top: 0.15rem;
}
button {
  border: medium outset #aa6339;
  border-radius: 0.25rem;
  background-color: #803d16;
  color: #fffffe;
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
}
button:active {
  border-style: inset;
}
#controller {
  padding: 1rem 0 0.5rem;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: inherit;
}
#viewer #document-node {
  padding: 1rem;
  background-color: #f9f7f4;
  list-style-type: none;
}
#viewer #document-node .node-label {
  margin: auto;
  border-radius: 0.5rem;
  padding: 0.1rem 0.15rem;
  background-color: #ffcaaa;
}
#viewer #document-node ol {
  list-style-type: none;
}
#viewer #document-node li[data-gi]:after {
  content: "</" attr(data-gi) ">";
  display: inline-block;
  margin: auto;
  border-radius: 0.5rem;
  padding: 0.1rem 0.15rem;
  background-color: #ffcaaa;
  font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace;
  font-size: 1.15rem;
}
#viewer #document-node li[data-node-type='comment()'] {
  color: #2E6E13;
  font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace;
  font-size: 1.15rem;
}
#viewer #document-node li[data-node-type='text()']:before,
#viewer #document-node li[data-node-type='text()']:after {
  color: #aa6339;
  font-size: 1.25em;
}
#viewer #document-node li[data-node-type='text()']:before {
  content: "“";
}
#viewer #document-node li[data-node-type='text()']:after {
  content: "”";
}
