/* Xplorator-specific styles */

/* Color palette */
.color-primary-1 { color: #FFCAAA } /* lightest */
.color-primary-2 { color: #D4926A } /* lighter */
.color-primary-0 { color: #AA6339 }	/* Main primary color (brown) */
.color-primary-3 { color: #803D16 } /* darker */
.color-primary-4 { color: #552000 } /* darkest */

.color-secondary-1-1 { color: #748BA7 }
.color-secondary-1-2 { color: #4C678B }
.color-secondary-1-0 { color: #2C4970 }	/* Main secondary color (blue) */
.color-secondary-1-3 { color: #143054 }
.color-secondary-1-4 { color: #051B38 }

.color-secondary-2-1 { color: #A8DB92 }
.color-secondary-2-2 { color: #77B65B }
.color-secondary-2-0 { color: #4E9231 }	/* Main secondary color (green) */
.color-secondary-2-3 { color: #2E6E13 }
.color-secondary-2-4 { color: #164900 }

.highlight {
  background-color:#A8DB92;
}
html {
  background-color:#EFEFEF;
}
table, td, th {
  border-color:#4E9231;
}
#header {
  background-color:#AA6339;
  color:#FFCAAA;
}
#content {
  background-color:#FFFFCC;
  color:black;
}
#footer {
  background-color:#051B38;
  color:#748BA7;
}
code {
  background-color:#FFCAAA;
  color:black;
}

/* Other CSS */
/* Thanks to Chris Bracco for this solution for placing the footer at the 
  bottom of the page. http://codepen.io/cbracco/pen/zekgx */
/*.xmldoc {
  display:none;
}*/
.xmldoc {
  color:#803D16;
  font-size:95%;
  font-family:'Menlo,Monaco,Consolas,"Courier New",monospace';
}

table {
  width:100%;
  border-style:solid;
  border-width:thin
}
td, th {
  padding:2px;
  border-style:solid;
  border-width:thin;
}
td {
  text-align:center;
}

html, body {
  height:100%;
}

.wrapper {
	min-height:100%;
}

#main-container {
	position:relative;
	padding-top:10px;
	padding-bottom:60px; /* height of the footer */
}

#content {
  margin-top:2px;
  padding-top:5px;
}

#footer {
	bottom:0;
	left:0;
	width:100%;
	height:60px;
	position:absolute;
  box-sizing: inherit;
}

#footer p {
  margin:5px 20px;
}

#xpathform {
  padding-top:15px;
}
code {
  font-size:100%;
}
