/* Xplorator styles */
/*.color-secondary-2-1 { color: #A8DB92 }
  .color-secondary-2-2 { color: #77B65B }
  .color-secondary-2-0 { color: #4E9231 }
  .color-secondary-2-3 { color: #2E6E13 }
  .color-secondary-2-4 { color: #164900 }*/
.code {
  font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace;
  font-size: 1.15rem;
}
body {
  background-color: white;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
ol {
  margin: 0.5rem 0;
  padding-left: 1.5rem;
}
ol li {
  margin-top: 0.15rem;
}
button {
  border: medium outset #4c678b;
  border-radius: 0.25rem;
  background-color: #2c4970;
  color: white;
  font-family: inherit;
  font-size: 0.9rem;
  cursor: pointer;
}
button:active {
  border-style: inset;
}
#controller {
  padding: 1rem 0 0.5rem;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: inherit;
}
#controller form,
#controller div[role='form'] {
  padding: 0.5rem;
  display: flex;
  align-items: baseline;
  flex-direction: row;
}
#controller form > div,
#controller div[role='form'] > div {
  display: inline-flex;
  align-items: baseline;
  flex-basis: 30%;
}
#controller form label,
#controller div[role='form'] label {
  margin-right: 0.25rem;
}
#controller form input[type='text'],
#controller div[role='form'] input[type='text'] {
  padding: 0.15rem 0.2rem;
  font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace;
  font-size: inherit;
  flex-grow: 2;
}
#controller form button,
#controller div[role='form'] button {
  margin: 0 0.5rem;
}
#viewer #document-node {
  padding: 1rem;
  background-color: #f9f7f4;
  list-style-type: none;
}
#viewer #document-node .node-label {
  margin: auto;
  border-radius: 0.5rem;
  padding: 0.1rem 0.15rem;
  background-color: #ffcaaa;
}
#viewer #document-node .node-label.expr-match {
  background-color: #143054;
  color: #ffcaaa;
}
#viewer #document-node ol {
  list-style-type: none;
}
#viewer #document-node li[data-gi]:after {
  content: "</" attr(data-gi) ">";
  display: inline-block;
  margin: auto;
  border-radius: 0.5rem;
  padding: 0.1rem 0.15rem;
  background-color: #ffcaaa;
  font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace;
  font-size: 1.15rem;
}
#viewer #document-node li[data-gi]:after.expr-match {
  background-color: #143054;
  color: #ffcaaa;
}
#viewer #document-node li[data-node-type='comment()'] {
  color: #2E6E13;
  font-family: "Ubuntu Mono", "Lucida Console", Monaco, monospace;
  font-size: 1.15rem;
}
#viewer #document-node li[data-node-type='text()']:before,
#viewer #document-node li[data-node-type='text()']:after {
  color: #aa6339;
  font-size: 1.25em;
}
#viewer #document-node li[data-node-type='text()']:before {
  content: "“";
}
#viewer #document-node li[data-node-type='text()']:after {
  content: "”";
}
