<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title data-template="config:app-title">App Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta data-template="config:app-meta"/>
        <link rel="shortcut icon" href="$shared/resources/images/exist_icon_16x16.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/bootstrap-theme.min.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/style.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/bootstrap-3.0.3.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
        <script type="text/javascript" src="resources/scripts/xplorator.js"/>
    </head>
    <body>
        <div class="wrapper">
            <div class="container" id="main-container">
                <div class="row">
                    <div class="col-md-12" id="header"><h1>Xplorator</h1></div>
                </div>
                <!--<div class="row">
                    <nav class="navbar navbar-default" role="navigation">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                            <span class="icon-bar"/>
                        </button>
                        <div class="navbar-collapse collapse" id="navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown" id="about">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="index.html">Home</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>-->
                <div id="content" class="row"/>
            </div>
        </div>
        <!--<div id="footer">
          <div id="copyright">
            <p>Xplorator copyright 2015 Ashley M. Clark (amclark42 AT gmail.com).</p>
            <p>This is free software, and you are welcome to redistribute it under 
              certain conditions. See <a href="https://github.com/amclark42/Xplorator">Xplorator 
                on GitHub</a> for details.</p>
          </div>
        </div>-->
    </body>
</html>